.DS_Store
notebooks/cache
notebooks/used_osm_uk_data
notebooks/unused_data
notebooks/uk_oa_with_borders
notebooks/uk_oa_with_borders.zip
notebooks/*.csv
notebooks/census2021-ts*
notebooks/OA_to_PC
notebooks/Output_area_(2021)_to_future_Parliamentary_Constituencies_Lookup_in_England_and_Wales.zip
notebooks/backup/*
notebooks/dataForPart2